@using InterviewTask.Core.Models
@model HomepageModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Answer the questions, but first enter your login</p>
    </div>
</div>

<div class="row mb-5">
    <input type="text" id="LoginInput" />
</div>
<div class="row">
    @if (Model != null
&& Model.Questions != null
&& Model.Questions.Count > 0)
    {
        foreach (Question singleQuestion in Model.Questions)
        {
            <div class="col border QuestionField">
                <p>@singleQuestion.QuestionContent</p>
                @if (Model != null
       && Model.Answers != null
       && Model.Answers.Count > 0
       && Model.Answers.Any(s => s.Question.ID == singleQuestion.ID))
                {
                    foreach (Answers singleAnswer in Model.Answers.Where(s => s.Question.ID == singleQuestion.ID))
                    {
                        <div>
                            <input type="checkbox" id="@singleAnswer.ID" name="@singleAnswer.ID" />
                            <label for="@singleAnswer.ID">@singleAnswer.AnswerContent</label>
                        </div>
                    }
                }
            </div>
        }
    }
</div>
<div class="row mt-3">
    <button class="btn btn-success" id="SaveAnswer">Save</button>
</div>

<script>
    $(document).on('click', '#SaveAnswer', function () {
        var _checkedList = [];
        var _userLogin = $('#LoginInput').val();
        $("input:checkbox[type=checkbox]:checked").each(function () {
            debugger;
            var checkBox = $(this);
            _checkedList.push(checkBox.attr('id'));
        });

        $.ajax({
            type: 'POST',
            url: '/Home/SaveUserAnswer',
            data: { userLogin: _userLogin, checkedAnswers: _checkedList },
            async: true,
            success: function () {
                window.location.reload(true);
                alert('ok');
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        })
    });
</script>
